body{
    margin: 0;
    padding: 0;
}
.encabezado{
    width: 100vw;
    height: 100vh;
    background-color: #f7de81;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    list-style: none;
}